<p>
  <span style="font-size: 20px"
    ><span style="font-family: Verdana, Geneva, sans-serif"
      ><strong>Cinema Web</strong></span
    ></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 20px"
      ><strong>Thank you for your purchase.</strong></span
    ></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">Your ticket id is&nbsp;</span></span
  ><span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px"><%= ticketId %></span></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">Here is your ticket information:</span></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">- Film: <%= film %></span></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">- Cinema: <%= cinema %></span></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">- Room:&nbsp;<%= room %></span></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">- Seat: <%= seat %></span></span
  >
</p>

<p>
  <span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px">- Food and beverages:&nbsp;</span></span
  ><span style="font-family: Arial, Helvetica, sans-serif"
    ><span style="font-size: 16px"><%= foodAndBeverages %></span></span
  >
</p>

<p>
  <strong
    ><span style="font-family: Arial, Helvetica, sans-serif"
      ><span style="font-size: 16px">Total price:&nbsp;</span></span
    ><span style="font-family: Arial, Helvetica, sans-serif"
      ><span style="font-size: 16px"><%= totalPrice %></span></span
    ></strong
  >
</p>
